<div class="">
  <div class="col-sm-12 mt20 table-responsive table-verba-1">
    <div ng-controller="auditoriaRecebimentoController">
      <div
        id="grid1"
        ui-grid="$ctrl.gridOptions1"
        ui-grid-pagination
        ui-grid-auto-resize
        ui-grid-resize-columns
        ui-grid-move-columns
        ui-grid-selection
        class="grid"
      >
        <div
          class="pd-t-b-10 no-rows"
          ng-show="!$ctrl.gridOptions1.data.length"
        >
          <div class="msg">
            <span>Sem registros</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
