<style>
  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23rem;
    font-size: 17px;
    color: #002C5F !important;
  }
</style>
<div ng-controller="impressaoController" id="impressao">
  <div class="ocultaMenu"></div>
  <div class="page">
    <div class="loading" ng-show="isLoading">
      <small>
        Carregando dados para impressão. <i class="fas fa-spinner fa-spin"></i>
      </small>
    </div>
    <div ng-show="!isLoading">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td height="50" colspan="4" align="right" valign="middle">
            <img ng-show="impressao.applicationName=='Toyota'" width="170" height="40" src="../assets/img/Rel_Logo.gif"
              alt="Toyota" />
            <img ng-show="impressao.applicationName=='Lexus'" width="182" height="40"
              src="../assets/img/Rel_Logo_lexus.gif" alt="Toyota" />
          </td>
        </tr>
      </table>

      <!--nota de debido-->
      <table width="100%" border="0" cellpadding="5" cellspacing="0" class="borda01">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr class="type02 borda04 borda03">
                <td colspan="5" align="center" class="type01 CssTitulo">
                  <span ng-show="impressao.applicationPerc==50">NOTA DE DÉBITO - MÍDIA COOPERADA</span>
                  <span ng-show="impressao.applicationPerc==100">NOTA DE DÉBITO - MÍDIA 100%</span>
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td width="6" height="22">
                  &nbsp;
                </td>
                <td width="298" height="22">
                  <b>NOTA DE DÉBITO NR.:</b>&nbsp;
                  <span class="type03">
                    {{ impressao.budgetDealerID }}
                  </span>
                </td>
                <td width="247" height="22">
                  <span class="TituloMes">Ano Fiscal: {{ impressao.anoFiscal }}</span>
                  <br />
                  <span class="TituloMes">MÊS: {{ mes }}</span>
                </td>
                <td width="238" height="22">
                  DATA DE EMISSÃO:
                  <span class="type03">{{ impressao.finalizadoDealer | date: "dd/MM/yyyy" }}</span>
                </td>
                <td width="6" height="22">
                  &nbsp;
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <br />
      <!--nome ditribuidor-->
      <table width="100%" border="0" cellpadding="5" cellspacing="0" class="borda01">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr class="type02 borda04 borda03">
                <td width="6" height="18">
                  &nbsp;
                </td>
                <td width="248" height="18">
                  NOME DO DISTRIBUIDOR:
                </td>
                <td width="519" height="18" class="type03">
                  {{ impressao.dealer.codigo }} -
                  {{ impressao.dealer.nomeFantasia }}
                </td>
                <td width="6" height="18">
                  &nbsp;
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td height="18">
                  &nbsp;
                </td>
                <td height="18">
                  ENDEREÇO:
                </td>
                <td height="18" class="type03">
                  {{ impressao.dealer.logradouro }} -
                  {{ impressao.dealer.bairro }} - Cep: {{ impressao.dealer.cep }} -
                  {{ impressao.dealer.cidade }} |
                  {{ impressao.dealer.uf }}
                </td>
                <td height="18">
                  &nbsp;
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <br />

      <!--solicitacao de reembolso-->
      <div width="100%" class="borda01">
        <table>
          <tr class="type02 borda04 borda03">
            <td width="6" bgcolor="#CCCCCC" height="20">
              &nbsp;
            </td>
            <td width="248" class="CssTitulo">
              <b>MÊS:</b>
              <span class="type03">{{ mes }}</span>
            </td>
            <td colspan="3" height="20" class="CssTitulo">
              <b>VALOR LIBERADO (TETO) - R$</b>
              <span class="type03">{{ impressao.verbaTotal | currency }}</span>
            </td>
            <td width="6" height="20" bgcolor="#CCCCCC" class="CssTitulo">
              &nbsp;
            </td>
            <td width="6" bgcolor="#CCCCCC" height="20">
              &nbsp;
            </td>
          </tr>
          <tr class="type02 borda04 borda03">
            <td colspan="6" height="10" align="center"></td>
          </tr>
          <tr class="CssTitulo type02 borda04 borda03">
            <td colspan="7" height="22" bgcolor="#CCCCCC" align="center">
              <strong ng-show="impressao.applicationPerc==50">SOLICITAÇÃO DE REEMBOLSO DE DESPESAS DE MÍDIA
                COOPERADA</strong>
              <strong ng-show="impressao.applicationPerc==100">SOLICITAÇÃO DE REEMBOLSO DE DESPESAS DE MÍDIA
                100%</strong>
            </td>
          </tr>
        </table>

        <table class="table type02 borda04 borda03" style="text-transform:unset">
          <tr>
            <td height="18">
              FORNECEDOR:
            </td>
            <td style="width: 250px" height="22">
              DESCRIÇÃO DOS SERVIÇOS
            </td>
            <td style="width: 130px" height="18">
              NR. PI
            </td>
            <td style="width: 100px" height="18">
              NR. NF
            </td>
            <td style="width: 110px; text-align: center;">
              VALOR - R$
            </td>
          </tr>
          <tr ng-repeat="nota in impressao.notas">
            <td class="bordercell">
              {{ nota.fornecedor }}
            </td>
            <td class="bordercell">
              {{ nota.descricaoServico }}
            </td>
            <td class="bordercell">
              {{ nota.numPI }}
            </td>
            <td class="bordercell">
              {{ nota.num_NF }}
            </td>
            <td style="text-align: right;" class="bordercell">
              {{ nota.valorNF | currency }}
            </td>
          </tr>
          <tr class="type02 borda04 borda03">
            <td height="22">
              &nbsp;
            </td>
            <td height="22" colspan="3" align="left" valign="top" height="22">
              <strong>VALOR TOTAL DAS DESPESAS</strong>
              <img src="../assets/img/clip_image004.gif" alt="" width="300" height="17" />
            </td>
            <td height="22" colspan="2" class="type03" style="text-align: right">
              {{ impressao.valorSolicitadoBruto | currency }}
            </td>
            <td height="22">
              &nbsp;
            </td>
          </tr>
          <tr class="type02 borda04 borda03">
            <td height="18">
              &nbsp;
            </td>
            <td height="18" colspan="2">
              TOTAL POR EXTENSO:
            </td>
            <td height="18" colspan="3" class="type03" style="text-align: right">
              {{ impressao.valorSolicitadoPorExtenso }}
            </td>
            <td height="18">
              &nbsp;
            </td>
          </tr>
        </table>

        <table>
          <tr class="type02 borda04 borda03">
            <td height="22">
              &nbsp;
            </td>
            <td height="22" colspan="3" align="left" valign="top" height="22">
              <strong>VALOR A SER REEMBOLSADO
                <span ng-show="impressao.applicationPerc==50">=> 50% DO TOTAL</span></strong>
              <img src="../assets/img/clip_image006.gif" alt="" width="209" height="18" />
            </td>
            <td height="22" colspan="2" class="type03" style="text-align: right">
              * {{ impressao.verbaUtilizada | currency }}
            </td>
            <td height="22">
              &nbsp;
            </td>
          </tr>
          <tr class="type02 borda04 borda03">
            <td height="22">
              &nbsp;
            </td>
            <td height="22" colspan="3" align="left" valign="top" height="22">
              <b>PREVISÃO DE PAGAMENTO</b>
              <img src="../assets/img/clip_image006.gif" alt="" width="209" height="18" />
            </td>
            <td height="22" colspan="2" class="type03" style="text-align: right">
              * {{ impressao.dataPrevistaPagamento | date: "dd/MM/yyyy" }}
            </td>
            <td height="22">
              &nbsp;
            </td>
          </tr>

          <tr class="type02 borda04 borda03">
            <td height="22">
              &nbsp;
            </td>
            <td colspan="5">
              *Valor sujeito a alteração após a analise Triumph
            </td>
            <td height="22">
              &nbsp;
            </td>
          </tr>
          <tr class="borda01">
            <td height="22">
              &nbsp;
            </td>
            <td colspan="5">
              <img ID="LegendaImagem" src="../assets/img/bullet.gif" />
              Nota Físcal não reembolsável.
            </td>
            <td height="22">
              &nbsp;
            </td>
          </tr>
        </table>
      </div>

      <br />
      <!--dados favorecido-->
      <table width="100%" border="0" cellpadding="5" cellspacing="0" class="borda01">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr class="type02 borda04 borda03">
                <td colspan="4" align="center" class="type01 CssTitulo">
                  <b>DADOS PARA DEPÓSITO</b>
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td width="6" height="18">
                  &nbsp;
                </td>
                <td width="248" height="18">
                  FAVORECIDO&nbsp;&nbsp;&nbsp; =&gt;
                </td>
                <td width="508" height="18" class="type03">
                  {{ impressao.favorecido.nomeFantasia }}
                </td>
                <td width="6" height="22">
                  &nbsp;
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td height="18">
                  &nbsp;
                </td>
                <td height="18">
                  CNPJ&nbsp;&nbsp;&nbsp;&nbsp; =&gt;
                </td>
                <td height="18" class="type03">
                  {{ impressao.favorecido.cnpj }}
                </td>
                <td height="18">
                  &nbsp;
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td height="18">
                  &nbsp;
                </td>
                <td height="18">
                  I.E.&nbsp;&nbsp; =&gt;
                </td>
                <td height="18" class="type03">
                  {{ impressao.favorecido.ie }}
                </td>
                <td height="18">
                  &nbsp;
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td height="18">
                  &nbsp;
                </td>
                <td height="18">
                  BANCO&nbsp;&nbsp; =&gt;
                </td>
                <td height="18" class="type03">
                  {{ impressao.favorecido.banco }}
                </td>
                <td height="18">
                  &nbsp;
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td height="18">
                  &nbsp;
                </td>
                <td height="18">
                  AGENCIA&nbsp;&nbsp;&nbsp;&nbsp; =&gt;
                </td>
                <td height="18" class="type03">
                  {{ impressao.favorecido.agencia }}
                </td>
                <td height="18">
                  &nbsp;
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td height="18">
                  &nbsp;
                </td>
                <td height="18">
                  CONTA CORRENTE&nbsp;&nbsp; =&gt;
                </td>
                <td height="18" class="type03">
                  {{ impressao.favorecido.conta }}
                </td>
                <td height="18">
                  &nbsp;
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <br />
      <!--dados do sacado-->
      <table width="100%" border="0" cellpadding="5" cellspacing="0" class="borda01">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr class="type02 borda04 borda03">
                <td width="6" height="18">
                  &nbsp;
                </td>
                <td width="248" height="18">
                  SACADO&nbsp;&nbsp;&nbsp; =&gt;
                </td>
                <td width="508" height="18" class="type03">
                  Triumph.
                </td>
                <td width="6" height="18">
                  &nbsp;
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td height="18">
                  &nbsp;
                </td>
                <td height="18">
                  ENDEREÇO &nbsp;&nbsp;&nbsp; =&gt;
                </td>
                <td height="18" class="type03">
                    &nbsp;
                </td>
                <td height="18">
                  &nbsp;
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td height="18">
                  &nbsp;
                </td>
                <td height="18">
                  CNPJ&nbsp;&nbsp;&nbsp;&nbsp; =&gt;
                </td>
                <td height="18" class="type03">
                    &nbsp;
                </td>
                <td height="18">
                  &nbsp;
                </td>
              </tr>
              <tr class="type02 borda04 borda03">
                <td height="18">
                  &nbsp;
                </td>
                <td height="18">
                  I.E.&nbsp;&nbsp; =&gt;
                </td>
                <td height="18" class="type03">
                    &nbsp;
                </td>
                <td height="18">
                  &nbsp;
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <br />
      <!--assinatura-->
      <table width="100%" border="0" cellpadding="5" cellspacing="0" class="borda01">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" width="95%" align="center"
              style="font-size: 10px; text-align:center">
              <tr>
                <td colspan="3" style="height: 40px">&nbsp;</td>
              </tr>
              <tr class="type02 borda03">
                <td width="6" height="18">&nbsp;</td>
                <td style="text-align: center">&nbsp;</td>
                <td width="6" height="18">&nbsp;</td>
              </tr>
              <tr>
                <td width="6">&nbsp;</td>
                <td style="text-align: center">
                  {{ impressao.dealer.razaoSocial }}
                </td>
                <td width="6">&nbsp;</td>
              </tr>
              <tr>
                <td width="6">&nbsp;</td>
                <td style="text-align: center">
                  {{ impressao.dealer.logradouro }}, {{ impressao.dealer.numero }} -
                  {{ impressao.dealer.bairro }} - {{ impressao.dealer.cep }} -
                  {{ impressao.dealer.cidade }} |
                  {{ impressao.dealer.uf }}
                </td>
                <td width="6">&nbsp;</td>
              </tr>
              <tr>
                <td width="6">&nbsp;</td>
                <td style="text-align: center">
                  CNPJ: {{ impressao.favorecido.cnpj }}
                </td>
                <td width="6">&nbsp;</td>
              </tr>
              <tr>
                <td width="6">&nbsp;</td>
                <td style="text-align: center">
                  Fone: {{ impressao.dealer.telefone }} - Fax: {{ impressao.dealer.fax }}
                </td>
                <td width="6">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>